<!-- Footer -->
<footer>
  <div class="row">
    <div class="col-lg-12">
      <i class="fa fa-lg fa-twitter"></i>&emsp;<i class="fa fa-lg fa-facebook"></i>
      <p>Copyright &copy; 2016</p>
    </div>
  </div>
</footer>